/* .lamp-container {
    outline: red solid 1px;
    color: white;
    background-color: #282c34;
    min-height: 50vh;
    font-size: calc(10px + 2vmin);
}
.row-item {
    align-items: center;
    height: calc(50vh / 3);
} */

.base {
    /* border-radius: 10px; */
    background: #282c34;
    display: flex;
    height: 50vh;
    flex-direction: column;
    font: 30px arial;
}

.row {
    /* padding: auto;
    margin: 0; */
    height: calc(50vh / 3);
    /* justify-content: space-evenly;
    list-style: none;*/
} 

/* .col {
    margin: 0;
    color: black;
    padding: 0;
    background: white;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: black solid 5px;
    justify-content: center;
    text-align: center;
} */
.space-evenly {
    justify-content: space-evenly;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
.space-evenly li {
    background: #bada55;
}
.flex-item {
    border-radius: 50%;
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 60px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
