.lamp-container{
    /* align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto; */
    outline:  red solid 1px;
    color: white;
    background-color: #282c34;
    min-height: 50vh;
    font-size: calc(10px + 2vmin);
    /* margin: 0; */
}
.row-item{
    align-items: center;
    height: calc(50vh/3);
}