.base {
    /* border-radius: 10px; */
    /* background: #282c34; */
    /* background: black; */
    background-color: #3b0400;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    /* display: flex; */
    /* height: 50vh; */
    /* flex-direction: column; */
    font: arial;
    color: white;
    min-height: 45dvh;
    outline: red 1px solid;
}

.row {
    /* padding: auto;
    margin: 0; */
    height: calc(50vh / 3);
    /* justify-content: space-evenly;
    list-style: none;*/
}

.space-evenly {
    justify-content: space-evenly;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.lamp-row {
    justify-content: space-evenly;
    /* padding: 0;
    margin: 0; */
    list-style: none;
    /* display: flex; */
    /* align-items: center; */
    /* height: calc(50vh / 3); */
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
    padding: 5px;
    width: 80px;
    height: 80px;
    margin: 5px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    border: solid black 5px;
    flex: none;
    cursor: default;
}

.lit {
    background: yellow;
}
.off {
    background: white;
}
.circle {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid 5px grey;
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.circle:hover {
    cursor: default;
}

.lamp-rows-container {
    /* background: grey; */
    /* background-color: #3b0400;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); */
    /* background: black; */
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");

    border-radius: 2em;
    /* padding:  auto 0; */
}
