.plugboard-container {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* outline:  red solid 1px; */
    /* background-color: #282c34; */
    background-color: #3b0400;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    /* height: 25vh; */
    /* display: flex; */
    /* flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin); */
    color: black;
    font-size: calc(7px + 2vmin);
    min-height: 30dvh;
}

.plugboard-top {
    /* outline: red solid 1px; */
}

.letter-pair-container {
    justify-content: space-evenly;
    /* background-color: rgb(91, 91, 91); */
    /* border-radius: 0.375rem; */
}
.options {
    /* background-color: red; */
    /* justify-content: space-evenly; */
}
.stack-container {
    /* background-color: rgb(91, 91, 91); */
    /* background-color: black; */
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");

    border-radius: 2rem 2rem 0.375rem 0.375rem;
}
.plug {
    width: calc(10px + 2vmin);
    text-transform: uppercase;
}
.pressed {
    background-color: red;
}
.unpressed {
    background-color: aliceblue;
}

.single-pair {
    /* border: red 1px solid; */
    /* background-color: aliceblue; */
    /* border: solid rebeccapurple 1px; */
    border-radius: 0.375rem;
}
.arrows {
    background-color: lightblue;
    border-radius: 0.3em;
    /* color: white; */
    cursor: pointer;
}
#pairing-btn,#self-btn,#clear-pair-btn,#copy-all-btn{
    display: flex; 
    gap: 0.5rem;
}