.plugboard-container{
    outline:  red solid 1px;
    background-color: #282c34;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.plugboard-top{
    outline:  red solid 1px;

}
.plugboard-bottom{
    outline:  red solid 1px;

}
.letter-pair-container{
    /* outline: red 1px solid; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* width: 100%; */
    margin: .75rem;

    /* text-align: center; */
    /* line-height:  */

}
.letter-pair-container > input{
    width: calc(10px + 2vmin);

}