.plugboard-container {
    display: grid;
   
    background-color: #3b0400;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
   
    color: black;
    font-size: calc(7px + 2vmin);
    min-height: 30dvh;
}


.letter-pair-container {
    justify-content: space-evenly;
    
}

.stack-container {
    
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");

    border-radius: 2rem 2rem 0.375rem 0.375rem;
}
.plug {
    width: calc(10px + 2vmin);
    text-transform: uppercase;
    border-radius: 0.375rem;
}
.pressed {
    background-color: grey;
    border: yellow solid 1px;
}
.unpressed {
    background-color: grey;
   
}

.single-pair {
    border-radius: 0.375rem;
}
.arrows {
    background-color: darkgray;
    border-radius: 0.3em;
    cursor: pointer;
}
#pairing-btn,
#self-btn,
#clear-pair-btn,
#copy-all-btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
