* {
    font-family: "Special Elite";
    font-weight: 400;
    font-style: normal;
}
.rotor-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    background-color: #3b0400;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    font-size: calc(10px + 2vmin);
    min-height: 25dvh;
}

.up {
    background-image: url(increaseButton.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.down {
    background-image: url(decreaseButton.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.message {
    width: 20ch;
    resize: none;
    border-style: none;
    color: white;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.encrypted-message {
    width: 20ch;
    resize: none;
    border-style: none;
    color: white;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}
#copy-btn {
    background-repeat: no-repeat;
    display: flex;
    gap: 0.5rem;
    margin: auto;
    align-items: center;

    
}
#copy-message-btn{
    background-repeat: no-repeat;
    display: flex;
    gap: 0.5rem;
    margin: auto;
    align-items: center;

}
.btn-container{
    display: flex;
}
#clear-btn{
    background-repeat: no-repeat;
    display: flex;
    gap: 0.5rem;
    margin: auto;
    align-items: center;

    
}
#input-text {
    border-radius: 2rem;
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}
#output-text {
    border-radius: 2rem;
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}
.message-title {
    color: white;
    text-decoration: underline
}

#left-holder,
#middle-holder,
#right-holder {
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
    color: white;
}
#rightRotorSelector,
#middleRotorSelector,
#leftRotorSelector {
    background-color: black;
    color: white;
}
