* {
    font-family: "Special Elite";
    font-weight: 400;
    font-style: normal;
}
.rotor-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    /* outline:  red solid 1px; */
    /* background-color: #282c34; */
    background-color: #3b0400;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    /* height: 25vh; */
    font-size: calc(10px + 2vmin);
    /* color: white; */
    min-height: 25dvh;
}

.positions {
    /* width: 50vw;
    background-color: red */
    /* display: flex;
    flex-direction: column;
    padding: 1rem 0;
    height: 25vh;
    width: 40vw;
    outline: red solid 1px; */
}
.position-row {
    /* justify-content: space-evenly;
    list-style: none;
    display: flex;
    align-items: center;
    height: calc(25vh / 3); */
}
.position {
    /* display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; */
}
.rotor-selector {
    /* width: 1rem; */
}
.position-button {
    /* width: 5rem; */
}
.up {
    background-image: url(increaseButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 1rem; */
}
.down {
    background-image: url(decreaseButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 1rem; */
}
.rotor-settings {
    /* background-color: #525254; */
    /* border-radius: 0.375rem; */
    /* border: solid rgba(0, 0, 0, 0.5) 1px; */
}
.message {
    width: 20ch;
    resize: none;
    border-style: none;
    color: white;
    /* background-color: black; */
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}

.encrypted-message {
    width: 20ch;
    resize: none;
    border-style: none;
    color: white;
    /* background-color: black; */
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}
.copy-btn {
    background-image: url(decreaseButton.svg);
    background-repeat: no-repeat;
    background-position: right;
}
#input-text {
    background-color: black;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}
#output-text {
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
}
.message-title {
    color: white;
}

#left-holder,
#middle-holder,
#right-holder {
    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png");
    color: white;
}
#rightRotorSelector,
#middleRotorSelector,
#leftRotorSelector {
    background-color: black;
    /* background-image: url("https://www.transparenttextures.com/patterns/little-knobs.png"); */
    color: white;
}
